import './{{lowerCase name}}.scss'

/**
 * {{name}} description goes here
 */

const {{name}}: React.FC<{props}>= ({props}) => {
  return (
    <div className="{{ lowerCase name }}">
      This is {{ name }} 
    </div>
  );
}

export default {{name}};
